---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/ryan-waring-367068-unsplash.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Applied Spatial Data Science for Public Health</h1>
        <p class="hero__meta">This site outlines an 8 week online course on Applied Spatial Data Science for Public Health using R</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
