---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

{% include head.html %}

<body class="site">

{% include header.html %}

  {% if page.featured-img %}

  <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/{{page.featured-img}}.jpg">
    {% else %}
    <div class="hero dark-bg">
      {% endif %}
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
        <p class="hero__meta">
            <!-- <span> 
              <time>{{ page.date | date_to_string }}</time>&nbsp;
            </span>-->
          <span>
          </span>
        </p>
      </div>
    </div>
  </div>

  <main class="site__content">
    <div class="container">
      <article class="post-content" itemprop="articleBody">

        {{ content }}

      </article>
    </div>

  </main>

  {% include footer.html %}

</body>

</html>
